<section id="gallery" class="container__gallery">
  <mat-grid-list [cols]="breakpoint" rowHeight="1:1" (window:resize)="onResize($event)" gutterSize="10px">
    <a *ngFor="let work of works" [routerLink]="'work/'+ work.title" [state]="work" class="container__gallery-card">
      <mat-grid-tile>
        <div class="card-overlay">
          <div  class="card-overlay-content">
            <h3>{{work.title}}</h3>
            <span>{{work.theme}}</span>
            <span>{{work.stacks}}</span>
          </div>

        </div>

        <div class="card-img">
          <img src="/assets/{{work.picture}}" alt="{{work.title}}" >
        </div>
      </mat-grid-tile>
    </a>

  </mat-grid-list>

</section>
