<div class="container__home">
  <section class="container__home-banner">
    <div class="banner-wrapper">
      <h1>Rayan Chambet</h1>
      <span>Front-end Developer</span>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quia debitis, quas possimus officiis, magnam
        nemo harum dolore, porro aliquid veniam laudantium? Nam magnam rerum accusantium sed reprehenderit error hic.</p>
    </div>
    <a href="#gallery">
      <img class="chevron" src="/assets/chevron-down-solid.svg" alt="Chevron">
    </a>
  </section>
  <section>
    <app-gallery [works]="works"></app-gallery>
  </section>
</div>


